<div class="container col-12 bg-white d-flex justify-content-center">
  <div class="col-1 p-1">
    
    <img src="../../assets/image/logo.png" style="width:100px;height: 90px;" alt="EnjoyIt">
  </div>
  <div class="col-10 m-2">
      <div class="container d-flex justify-content-between">
        <div class="container d-flex justify-content-between col-6 col-sm-7">
            <div class="row d-none d-sm-block"><a href="#">Event </a></div>
            <div class="row d-none d-sm-block"><a href="#">Contact Us </a></div>
            <div class="row d-none d-sm-block"><a href="#">About Us</a></div>
            <div class="row d-none d-sm-block"><a href="#"><i class="fa fa-user-circle" style='font-size:25px'></i></a></div>
        </div>

        <div class="container d-flex justify-content-between col-4 col-lg-1 col-sm-2">
          <div class="row"><a href="#"><i class="fa fa-bell" style='font-size:25px'></i></a></div>
          <div class="row"><a href="#"><i class="fa fa-globe" style='font-size:25px'></i></a></div>
        </div>

      </div>
      <div class="container">
          <div class="input-group col-lg-8 ml-5 pt-3">
            <!-- Insert dropdown menu -->
              <div class="input-group-prepend">
                <button class="input-group-text  dropdown-toggle darkGrayBackgroundColor darkBlueColor" data-toggle="dropdown">Meeting</button>
                <div class="dropdown-menu skyGrayBackgroundColor">
                  <a class="dropdown-item darkBlueColor" href="#">Action</a>
                  <a class="dropdown-item darkBlueColor" href="#">Another action</a>
                  <a class="dropdown-item darkBlueColor" href="#">Something else here</a>
                </div>
              </div>
              <input type="text" class="form-control col-10 skyGrayBackgroundColor" placeholder="What are you looking for ?" aria-label="Search">
              <div class="input-group-append">
                <button class="btn skyGrayColor" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
      </div>
  </div>
</div>  



