/* html,
body {
    height: 100%;
    margin: 0;
} */

.body {
    min-height: calc(30vh - 210px);
}

.footer {
    height: 50px;
}

.push {
    padding: 20px;
    padding-bottom: 50px;
}

.Footer {
    width: 100%;
    background-color: #e9ebee;
}

.FooterMenu {
    width: 100%;
}

.menudiv {
    font-size: 15px;
}

.footertext {
    font-family: Eras Bold ITC;
    font-size: 16px;
}

.subscribebtn {
    border-radius: 6px;
    height: 35px;
    border: solid 0.5px #2ECCC9;
    background-color: #ffffff;
    color: #2ECCC9;
}

.subscriptionform {
    margin-left: 16px;
}

#seperator {
    width: 80%;
    border: solid 0.5px grey;
    /* height: 40px; */
}

.inputfield {
    height: 40px;
    background-color: #ffffff;
    border: solid 0.5px #e9ebee;
}

.PrimaryDiv {
    width: 100%;
}

#logoimg {
    height: 90px;
    /* width: 100%; */
}