<div class="body">
    <!-- <div class="push"></div> -->
</div>
<footer class="footer">
    <div class="Footer d-flex flex-column align-items-center">
        <!-- elts aux milieu -->
        <div class="PrimaryDiv d-flex flex-column align-items-center ">
            <div class="FooterMenu d-lg-flex align-items-center justify-content-lg-around">
                <div class="menudiv d-flex col-lg-7 align-items-center p-0 ml-lg-5">
                    <div class="logo col-2 p-0" id="menu">
                        <img class="ml-md-5 mt-3 ml-sm-5 ml-lg-0" id="logoimg" src="assets/image/user.png">
                    </div>
                    <!-- espace -->
                    <div class="Partnership footertext d-flex justify-content-around col-lg-9 col-md-10 col-sm-10 p-0">
                        <a>Partnership</a>
                        <a>Contact Us</a>
                        <a>About Us</a>
                        <a>Help</a>
                    </div>

                </div>
                <!-- aligne v -->
                <div class="SubscriptionDiv d-flex flex-column col-lg-4 p-0 ml-lg-1 mt-sm-3 mt-lg-0">
                    <h6 class="footertext text-center font-weight-bold">Join the party by signing up for our mailing list</h6>

                    <div class="subscriptionform d-flex justify-content-center mt-sm-3 mt-lg-2">
                        <input class="inputfield col-lg-6 col-md-5 col-sm-4 p-0" type="email" placeholder="Enter Email Address">
                        <button class="subscribebtn col-lg-3 col-md-2 col-sm-3 p-0 ml-3">Subscribe</button>
                    </div>

                </div>
            </div>
            <div class="FooterBody mt-3">
                <h6 id="footerbodytext" class="footertext font-weight-light text-center">EnjoyIt is a platform which allows you if not all to organize events. <a href="#">Read more</a></h6>
            </div>
        </div>
        <hr id="seperator">
        <h6 class="footertext font-weight-light">© 2019 EnjoyIt. All Rights Reserved.</h6>
        <div class="SecondaryDiv p-2">
            <a href='#' class="footertext">Privacy</a> and <a href='#' class="footertext">Term of service</a>
        </div>
    </div>
</footer>