<div class = "d-flex flex-column justify-content-center align-items-center bd-highlight">
<div class = "p-2 bd-highlight">
<a id ="Login">Login in to your EnjoyIt account</a>
</div>
<div class = "p-2 bd-highlight">
<a>Login with</a>
</div>
<div class = "d-flex flex-row justify-content-between p-2 bd-highlight">
<div class = "p-2 bd-highlight">
<button class = "btn  p-0" style="border-color: #DD5044; color: #DD5044">Google <img src="../../assets/image/google.png" ></button>
</div>
<div class = "p-2 bd-highlight">
<button class = "btn
 p-0" style="border-color: #475993; color:#475993; "> Facebook <img src="../../assets/image/facebook.png" ></button>
</div>
</div>
<div class = "d-flex flex-row justify-content-center align-items-center p-2 bd-highlight flex-fill">
<div class = "p-2 bd-highlight flex-fill">
<hr class = divider>
</div>
<div class = "p-2 bd-highlight flex-fill">
<a id = Option>Or</a>
</div>
<div class = "p-2 bd-highlight flex-fill">
<hr class = divider>
</div>
</div>
<div class = "p-2 bd-highlight inputprompt">
<a id = "input">Please, fill in the following informations and then, click on the login button.</a>
</div>
<div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
<div class = "p-2 bd-highlight">
<input class = "inputfields  " placeholder="Email">
</div>
</div>
<div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
<div class = "p-2 bd-highlight">
<input class = "inputfields" placeholder="Password">
</div>
</div>
<div class = "d-flex flex-column justify-content-center align-items-center p-2 bd-highlight">
<div class = "p-2 bd-highlight">
<button class = "btn btn-primary" style="background-color: #00746B;" >Login</button>
</div>
<div class = "p-2 bd-highlight">
<a href="#" id = exceptionprompt>Forgot password?</a>
</div>
<div class = "p-2 bd-highlight">
<p id = exceptionprompt>Don't have account yet.<a href="#"> Sign up!</a></p>
</div>
</div>
<div>
    <input type="text" [(ngModel)]= "nameTest">
    {{nameTest}}
    <button (click)= "displayData()">NameTest</button>
</div>
</div>