ul li{
    list-style: none;
    padding-top: 30px;
    
}

ul{
    background-color: #e9ebee;
    height: 85vh;
    margin: 0;
    padding-right: 40px;
    margin-top: 96.5px;
    
   
    
}

ul li:hover{
    color: #2ECCC9;
    cursor: pointer;
}
#toggleButton{
    border: 0px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    z-index: 4 !important;
   
    
  
    
    
}
#toggleButton:focus{
    box-shadow: none;
    outline: 0px;
}

li i {
    margin-right: 20px;
   
}

.closebtn {
    right: 25px;
    font-size: 36px;
    margin-left: 70px;
    
   
    
    
}
