<ng-sidebar-container style="height: 100vh; ">

		<!-- A sidebar -->
		<ng-sidebar id="sidebar" [(opened)]="_opened" position="left">
				<!-- [(opened)]="_opened" position="left" -->
			<ul>
				<li class="d-lg-none closebtn" (click)="closeSideBar()">×</li>
				<li><i class="fa fa-calendar"></i> Event</li>
				<li><i class="fa fa-user-circle-o"></i> Profile</li>
				<li><i class="fa fa-commenting-o"></i> Chat</li>
				<li><i class="fa fa-gear"></i> Setting</li>
				<li><i class="fa fa-question-circle-o"></i> help</li>
				<li><i class="fa fa-sign-out log-out"></i> Log out</li>
			</ul>
		</ng-sidebar>
	
		<!-- Page content -->
		<!-- <div ng-sidebar-content id="main">
			<p>just to test the flexibility of our design</p>
		</div> -->
		<!-- (click)="_toggleSidebar()" -->
	</ng-sidebar-container>
	<button (click)="_toggleSidebar()" id="toggleButton"><i class="fa fa-bars"></i></button>
	
	