#main{
    position: relative;

}

.img {
    height: 660px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
#image-overlay{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 660px;
    position: absolute;
  
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.pics {
    width: 100%;
    transition: transform  1.5s;
    
}
.pics:hover{
    transform: scale(1.5);
}
.example{
    width: 100%;
    overflow: hidden;
}

#img-text{
    width: 60%;
}

.caption {
    color: blue;
}
.fa-bars{
    color: red; 
}
