<app-header></app-header>

<div class = "main d-flex">
  <app-sidebar></app-sidebar>
  <div id="dashboard">
    <div>
         
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="image-overlay"></div>
              <h1 id="img-text" class="text text-center text-wrap text-light font-weight-bold">Publicity for any Public Event</h1>
              <img class= "img" src="../../assets/image/alcohol-beverage.jpg" alt="">
            </div>
            <div class="carousel-item">
              <div id="image-overlay"></div>
              <h1 id="img-text" class="text text-center text-wrap text-light font-weight-bold">Publicity for any Public Event</h1>
              <img class = "img" src="../../assets/image/audience-chairs.jpg" alt="">
            </div>
            <div class="carousel-item">
              <div id="image-overlay"></div>
              <h1 id="img-text" class="text text-center text-wrap text-light font-weight-bold">Publicity for any Public Event</h1>
              <img class = "img" src="../../assets/image/balloons.jpg" alt="">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    
    
    
    
    
      </div>
      <div class="heading text-center mt-3 mb-3">
        <h1>Public Events</h1>
      </div>
    
      <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="example"> <a href="#"><img class="pics" src="../../assets/image/night.jpeg" alt=""></a></div>
              <div class="caption text-primary text-center">CONCERTS</div>
            </div>
            
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="example">
                  <a href="#">
                    <img class="pics" src="../../assets/image/conference1.jpeg" alt="">
                  </a>
                </div>
              <div class="caption text-primary text-center">BIRTHDAYS</div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="example"><a href="#"><img class="pics" src="../../assets/image/conference2.jpeg" alt=""></a></div>
              <div class="caption text-primary text-center">MARRAIGES</div>
            </div>
          </div>
          
          <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="example"><a href="#"><img class="pics" src="../../assets/image/conference1.jpeg" alt=""></a></div>
              <div class="caption text-primary text-center">GRADUATION CEREMONIES</div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="example"><a href="#"><img class="pics" src="../../assets/image/hand-shake.jpeg" alt=""></a></div>
              <div class="caption text-primary text-center">RECEPTION</div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="example"><a href="#"><img class="pics" src="../../assets/image/banner.jpeg" alt=""></a></div>
              <div class="caption text-primary text-center">MEETINGS</div>
            </div>
          </div>
      </div>
  </div>


</div>
<app-footer></app-footer>
