/* You can add global styles to this file, and also import other style files */


.ng-sidebar--opened #main{
    margin-left: 250px;
    
}
#main{
    transition: margin-left 0.25s;
}
ng-sidebar-container{
    position: inherit !important;
}
.ng-sidebar--animate{
    z-index: 1 !important;
}