#top{
    position: relative;
    width: 100%;
    background-color: black;
    height: 150px;
    opacity: 0.5;
}
#image{
    position:absolute;
    width: 100%;
    height: 654px;
}
#center{
    position: relative;
    top: 150px;
    
}
#left_header{
    position: relative;
    top: 30px;
    left: 70px;
}
#right_header{
    position: relative;
    top: 30px;
    right: 70px;
}
.get_started{
    margin-top: 100px;
}


@media only screen and (max-width: 400px) {

    #top{
        position: relative;
        width: 100%;
        background-color: black;
        height: 100px;
        opacity: 0.5;
    }
    #image{
        position:absolute;
        width: 100%;
        height: 480px;
    }
    #center{
        position: relative;
        top: 50px;
        
    }
    #left_header{
        position: relative;
        left: 20px;
      
    }
    #right_header{
        position: relative;
        right: 20px;
        
    }
    #get_started{
        margin-top: 30px;
    }

}