<div class="container-fluid p-0 " style="color: white;">
  <img id="image" src="../assets/image/a.jpg">
  <div id="top" class="float m-auto ">
    <p id="left_header" style="font-size: 24px;" class="float-left">Logo</p>
    <button routerLink="/login" id="right_header"  style="font-size: 24px; width: 130px;  color: white; background-color: #00746B;" class=" float-right btn-lg btn btn-primary " >Login </button>
  </div>
  <div  id="center" style="font-size: 32px;text-align: center;" >
    <h1> WELCOME TO ENJOYIT..</h1>
    
    <button routerLink="/register"   class="btn-lg btn btn-primary get_started" style="color: white; background-color: #00746B; " > Get Started </button>
    <button routerLink="/dashboard"   class="btn-lg btn btn-primary get_started ml-5" style="color: white; background-color: #00746B; " > Dashboard </button>
    
    
  </div>
</div>

<router-outlet></router-outlet>
