<div class = "d-flex flex-column justify-content-center align-items-center bd-highlight">
  <div class = "p-2 bd-highlight " style="text-align: center;">
  <a id = "login"> Join EnjoyIt</a>
  <p>We've made it easier than ever to keep track of all your events</p>
  </div>
  <div class = "p-2 bd-highlight">
  <a>Sign up with</a>
  </div>
  <div class = "d-flex flex-row justify-content-between p-2 bd-highlight">
  <div class = "p-2 bd-highlight">
  <button class = "btn  p-0" style="border-color: #DD5044; color: #DD5044;">Google <img src="../../assets/image/google.png" ></button>
  </div>
  <div class = "p-2 bd-highlight">
  <button class = "btn  p-0" style="border-color: #475993; color:#475993; ">Facebook <img src="../../assets/image/facebook.png" ></button>
  </div>
  </div>
  <div class = "d-flex flex-row justify-content-center align-items-center p-2 bd-highlight flex-fill">
  <div class = "p-2 bd-highlight flex-fill">
  <hr class = divider>
  </div>
  <div class = "p-2 bd-highlight flex-fill">
  <a id = Option>Or</a>
  </div>
  <div class = "p-2 bd-highlight flex-fill">
  <hr class = divider>
  </div>
  </div>
  <div class = "p-2 bd-highlight inputprompt">
  <a id = "input">Please, fill in the following informations and then, click on the login button.</a>
  </div>
  <form name="form1" >
  <div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
  <div class = "p-2 bd-highlight">
  <input name="Username" class = "inputfields" placeholder="Username" [(ngModel)]= "nameTest"> 
  </div>
  </div>
  <div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
  <div class = "p-2 bd-highlight">
  <input name="email" class = "inputfields " placeholder="Email" [(ngModel)]="emailTest">
  </div>
  </div>
  <div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
  <div class = "p-2 bd-highlight">
  <input class = "inputfields" name="password" placeholder="Password" [(ngModel)]="passwordTest">
  </div>
  </div>
  <div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
    <div class = "p-2 bd-highlight">
    <input class = "inputfields" name="confirmpassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
    </div>
    </div>
  </form>
  <div class = "d-flex flex-column justify-content-center align-items-center p-2 bd-highlight">
  <div class = "p-2 bd-highlight">
  <button class = "btn btn-primary" (click)= "displayData()">Sign Up</button>
  </div>
 

  <div >
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> I'd like to receive party secrets, gift ideas, special offers and more</label>
  </div>

  <div class = "d-flex flex-row justify-content-center p-2 bd-highlight">
    
  <div class = "p-2 bd-highlight " style="text-align: center;">
  <p id = "policy"> By filling in the form above and clicking the "SIGN ME UP" , you accept and agree to Enjoy It <br><a href="#">Privacy Policy</a> and <a href="#">Terms of service</a></p>
  </div>
  
  </div>
  </div>