a{
    color: black;
}
.divider {
    width: 100px;
    border: solid 0.5px #929292;
    }
    
    #Option {
    font-weight: bold;
    }
    
    #input {
    text-align: center;
    }
    
    .inputprompt {
    width: 450px;
    }
    
    .inputfields {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    border: solid 1px #C7C7C7;
    }
    
    #login {
    font-size: 30px;
    color: #00746B;
    }
    
    #policy {
    font-size: 15px;
    color: #C7C7C7;
    }
    
    .btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    }
    
    @media only screen and (max-width: 400px) {
        .divider {
            width: 100px;
            border: solid 0.5px #929292;
            }
            
            #Option {
            font-weight: bold;
            }
            
            #input {
            text-align: center;
            }
            
            .inputprompt {
            width: 180px;
            }
            
            .inputfields {
            height: 45px;
            width: 200px;
            border-radius: 10px;
            border: solid 1px #C7C7C7;
            }
            
            #login {
            font-size: 20px;
            color: #00746B;
            }
            
            policy {
            font-size: 10px;
            color: #C7C7C7;
            }
            
            .btn {
            width: 100px;
            height: 40px;
            border-radius: 10px;
            text-align: center;
            }
    
    }